<section id="advantages">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <h1>Наши преимущества</h1>
                    <br>
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="lead">
                        <li>Преподаватели из МГУ</li>
                        <li>Теория рука об руку с практикой</li>
                        <li>Учитываем психологию ученика</li>
                        <li>Работаем с каждым, вне зависимости<br>
                        от начального уровня подготовки</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>